* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: rgb(57, 110, 176);
  --ice: rgb(218, 221, 252);
  --dunkel: rgb(46, 76, 109);
  --orange: rgb(252, 153, 124);
  --red: rgb(249, 7, 22);
  --black: rgb(0, 0, 0);
}

body {
  font-size: 20px;
  font-family: sans-serif;
}

.table_header {
  width: 100%;
  height: 5rem;
  padding: 2rem;
  background-color: var(--dunkel);
  color: var(--ice);
  text-align: right;
}

thead,
thead tr th {
  border: 2px solid var(--ice);
  padding: 0.5rem;
}

table,
tr,
td {
  border: 1px solid var(--black);
  font-family: Sans-serif;
  font-weight: 400;
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
  border-color: var(--ice);
  border-spacing: 1rem;
  width: 50%;
  margin-left: 25%;
  margin-top: 3rem;
}

thead {
  background-color: var(--blue);
  color: var(--ice);
  border-collapse: collapse;
}

tbody tr:nth-child(even) {
  background-color: var(--ice);
  color: var(--dunkel);
}
tbody tr:nth-child(odd) {
  color: var(--ice);
  background-color: var(--blue);
}

tbody tr:hover {
  background-color: var(--orange);
}

tbody tr:hover td:last-child {
  color: var(--red);
}

tr:nth-child(odd) {
  background-color: var(--dunkel);
}
.table_head1 th {
  background-color: var(--dunkel);
}
